{{page-title "Cart"}}

<ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600">{{@model.cart.event.name}}</li>
    <li class="w-full px-4 py-2 border-b border-gray-200 dark:border-gray-600">{{@model.cart.event.dateTimeUser}}</li>
    <li class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600">{{@model.cart.qty}} x {{format-currency @model.cart.event.price @model.cart.event.currency}} = {{format-currency @model.cart.totalPrice @model.cart.event.currency}}</li>
</ul>

{{#if @model.isAuthenticated}}
<form>
  <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" {{on "click" this.payNow}}>Pay {{format-currency @model.cart.totalPrice @model.cart.event.currency}} now</button>
</form>
{{else}}
<br />
<div class="text-center">
  <p class="text-gray-600">You need to be logged in to pay</p>
  <br />
  <LinkTo @route="signin" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Sign in or create an account</LinkTo>
</div>
  {{/if}}