{{page-title "My tickets"}}

<p class="text-xl">Tickets</p>
<div class="grid overflow-hidden grid-cols-4 grid-rows-1 gap-2">
    {{#each @model.tickets as |ticket|}}
<!--    <div class="box">{{ticket.id}}</div> -->
    <div class="box">{{ticket.event.name}}</div>
<!--    <div class="box">{{ticket.event.dateTimeUser}}</div> -->

    {{#if ticket.claimed}}
    <div class="box">{{ticket.name}}</div>
    {{else}}
    <div class="box">

        <button
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="button" type="button" data-modal-toggle="modal_ticket_claim_{{ticket.id}}">Claim</button>
        <ClaimTicket @ticket={{ticket}} @refreshRoute={{this.refreshRoute}} />
    </div>
    {{/if}}

    {{#if ticket.claimed}}
    <div class="box">
        <button
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="button" type="button" data-modal-toggle="modal_ticket_view_{{ticket.id}}">Open</button>
        <ViewTicket @ticket={{ticket}} @refreshRoute={{this.refreshRoute}} />
    </div>
    {{else}}
    <div class="box"></div>
    {{/if}}

    {{#if ticket.claimed}}
    {{#if ticket.transferable}}
    <div class="box">
        <button
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="button" type="button" data-modal-toggle="modal_ticket_transfer_{{ticket.id}}">Transfer</button>
        <TransferTicket @ticket={{ticket}} @refreshRoute={{this.refreshRoute}} />
    </div>
    {{else}}
    <div class="box"></div>
    {{/if}}
    {{else}}
    <div class="box"></div>
    {{/if}}


    {{/each}}
</div>






{{outlet}}